  
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center; /* horizontally center */
    align-items: center;     /* vertically center */
    background: black;
}

video {
    max-width: 90%;
    max-height: 90%;
    border-radius: 10px;
    outline: none;
    pointer-events: none;
}
    .boot-text {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      font-size: 36px;
      color: #fff;
      opacity: 0;
      animation: boot 2s ease-in-out forwards;
    }
    @keyframes boot {
      0% {
        opacity: 0;
        transform: translate(-50%, 50%);
      }
      100% {
        opacity: 1;
        transform: translate(-50%, -50%);
      }
    }
  